.card {
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    text-align: left;
    background-color: var(--card-bg);
    font-size: 1.2em;
    overflow: auto;
    min-height: 300px;
    position: relative;
}

.card-main::after {
  clear: both;
}

.card-description {
  margin-top: 1em;
  font-size: 1.2em;
  line-height: 1.3em;
  position: realtive;
  float: right;
  width: 75%;
}

.card-image {
  position: relative;
  width: 20%; 
  margin: 0.5em;
}

.card-image > img {
  height: 200px;
  background-color: var(--img-bg);
  border-radius: 1em;
  
  padding: 10px 50px !important;
  float: left;
}

.card a {
  color: var(--link-color);
}