#date_range {
  margin: 10px;
}

.DateRangePickerInput {
  border: 5px solid black !important;
  background-color: var(--card-bg);
}

.DateInput_input, .DayPicker, .CalendarMonth, .DayPickerNavigation--horizontal,
.DayPickerNavigation__prev, .DayPickerNavigation__next,
.CalendarDay--selected-span{
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  background-color: var(--card-bg) !important;
}

.DayPickerNavigation_button {
  border: 1px solid black;
  background-color: var(--border-color);
}

.DayPickerNavigation_svg__horizontal {
  fill: white;
}