._dash-undo-redo {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace;

  --main-bg: rgb(0, 31, 31);
  --card-bg: limegreen;
  --img-bg: rgb(0, 14, 54);
  --border-color: darkGreen;
  --title-color: limegreen;
  --text-color: yellow;
  --link-color: rgb(75, 121, 75);
}

body {
  font-family: Arial;
  background-color: var(--main-bg);
}

#page-title {
  font-size: 4em;
  border: 5px solid var(--border-color);
  width: 400px;
  color: var(--title-color);
  text-align: center;
  display: block;
  margin: 20px auto;
}

#page-title::first-letter {
  font-size: 1.5em;
}

#map {
  height: 800px;
  padding: 0;
}

.launch-description {
  margin-top: 1em;
  font-size: 1.2em;
}

/*************************************************/

.card {
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    text-align: left;
    background-color: var(--card-bg);
    font-size: 1.2em;
    overflow: auto;
}

#next_launch {
  transform: scale(0.75);
  transform-origin: top left;
  padding:0; margin:0;
}

img {
  display: block;
  float: left;
  height: 300px;
  padding: 10px 100px;
  background-color: var(--img-bg);
  border-radius: 1em;
  margin-top: 1em;
}

.launch-main::after {
  clear: both;
}

.link {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

#rockets {
  top: 60px !important;
}

#timer {
  top:0;
  margin: 30px !important;
  color: darkgreen;
  font-size: 1.5em;
}

#next-launch {
  position: relative !important;
  margin: 50px !important;
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
}